<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">KICKBALL MANAGER</h1>
    <p class="lead">A simple web app for managing multiple kickball or little league teams.
    Featuring an automatic lineup generator to save you lots of time each week!</p>
    <%= button_to "Sign Up", new_user_registration_path, class:"btn btn-danger" %>
  </div>
</div>